
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>My Chat</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sticky-footer-navbar/">
<link href="/node_modules/bootstrap/dist/css/" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  </head>
  <body class="d-flex flex-column h-100">
    <header>
  <app-navbar></app-navbar>
    </header>
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
</body>
</html>
