<div class="livechat">
  <div class="chatheader">
    <div class="left_c">
      <div class="left h_font_color left_icons">
        <a href="#" class="mini" style="font-size:23px;">+</a>
      </div>
      <div class="left center_icons">
        Live help!
      </div>
    </div>

    <div class="clear"></div>
  </div>
  <div class="chat_container" style="display: none;">

    <div class="chat_entry">
      <form name="chat_form" class="chat_form has-validation-callback" id="chat_form" onsubmit="return false;">
        <p>
          <input type="text" data-validation="required" name="user_chat" id="user_chat" class="user_chat"
            placeholder="Enter Your Name">

        </p>
        <p style="text-align:left;">
          <input type="submit" name="chat_submit" class="chat_submit" id="chat_submit" value="Start Chat">
        </p>

      </form>

    </div>

  </div>
</div>
